[core]
  excludesfile = ~/.gitignore
  
  pager = diff-so-fancy | less --tabs=4 -RFX

  # Make `git rebase` safer on macOS
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

  # Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true

[color "diff"]
  meta = "yellow"
  frag = "magenta bold"
  commit = "yellow bold"
  old = "red bold"
  new = "green bold"
  whitespace = "red reverse"

[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

[push]
  default = current

[apply]
	whitespace = fix

[commit]
	# https://help.github.com/articles/signing-commits-using-gpg/
	gpgsign = true
