[apply]
  whitespace = fix

[core]
  excludesfile = ~/.gitignore

[init]
  defaultBranch = main

[fetch]
  prune = true

[help]
  autocorrect = 1

[push]
  default = current

[rerere]
  enabled = true

[remote]
  pushDefault = origin

[user]
  name = {AUTHOR_NAME}
  email = {AUTHOR_EMAIL}
