.DS_STORE

.config/codex/
.config/codex/skills/.system/
!.config/codex/config.*
!.config/codex/skills

.config/fish/completions
.config/fish/conf.d
.config/fish/fish_variables
.config/fish/themes

.config/nvim/lazy-lock.json

.config/tmux/plugins
