.DS_STORE

.config/codex/auth.json
.config/codex/history.jsonl
.config/codex/log/
.config/codex/models_cache.json
.config/codex/sessions/
.config/codex/skills/.system/
.config/codex/version.json

.config/fish/completions
.config/fish/conf.d
.config/fish/fish_variables
.config/fish/themes

.config/nvim/lazy-lock.json

.config/tmux/plugins
